.crypto_list_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto_list {
  margin: 100px 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
