.header_img_container {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_img {
  width: 600px;
}

@media screen and (max-width: 650px) {
  .header_img {
    width: 320px;
  }
}
